.event-main{
    margin: 5px;
    background-color:blue
}

.event-name{
    background-color: white;
    border:0.25px black solid;
    display:flex;
    flex-direction:column;
}

.event-name-filter{
    background-color: white;
    border-radius:2px;    
    min-height: 3rem;
    margin-left: 10px;
 }

.price-slider{
    display:flex;
    flex-direction:column;
    background-color:white;
    border-radius:5%;
    padding:5px;
    margin:20px;
    height: 75%;
    min-height: 3rem;

}

.date{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.date-filter{
    background-color: white;
    display:flex;
    flex-direction:column;
    padding:0 2px;
    min-height: 3rem;
}
.go-to-location{
    background-color:white;
    padding:5px;
    border-radius:5%;
    margin:20px;
    min-height: 3rem;
    align-items: center;
}
.search{
    background-color: rgb(234, 234, 33);
    border-radius: 50%;
    padding:5px;
    margin:20px;
    height: 75%;
}

.header-bar{
    background-color:lightgray;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    padding:3px;
}

.event-card{
    background-color: lightgray;
    border-radius:1%;
    border:3px black solid;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    padding:2px 0;
    margin:2px 0;
}

.event-filter-bar{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
}

.header-element{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}