.location-main{
    margin: 5px;
    background-color:blue
}

.location-name{
    background-color: white;
    border:0.25px black solid;
    display:flex;
    flex-direction:column;
}

.location-name-filter{
    background-color: white;
    border-radius:2px;
}

.number-slider{
    display:flex;
    flex-direction:column;
    background-color:white;
    border-radius:5%;
    padding:5px;
    margin:20px;
    height: 75%;
}

.go-to-events{
    background-color:white;
    padding:5px;
    border-radius:5%;
    margin:20px;
    height: 75%;
}
.search{
    background-color: white;
    border-radius: 50%;
    padding:5px;
    margin:20px;
    height: 75%;
}

.header-bar{
    background-color:lightgray;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    padding:3px;
}

.location-card{
    background-color: lightgray;
    border-radius:1%;
    border:3px black solid;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    padding:2px 0;
    margin:2px 0;
}

.location-filter-bar{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
}